<li class="comment">
  <p class="comment-text"><%= comment.body %></p>
  <ul class="post-info">
    <li class="post-author">by: <%= comment.author.username %></li>
    <li class="post-date">posted: <%= comment.created_at %></li>
  </ul>
</li>