<h2>Submit an Article</h2>
<form action="/articles" method="post">
  <label for="article[title]">Title:</label>
  <input type="text" name="article[title]" placeholder="Title">
  <label for="article[content]">Content:</label>
  <input type="text" name="article[content]" placeholder="Write your article!">
  <input type="submit" value="Submit">
</form>
