<ul id="main-nav">
  <li class ="nav-item"><a href="/">Home</a></li>
  <% if logged_in? %>
    <li class ="nav-item"><a href="/users/<%= current_user.id %>">Profile</a></li>
    <li class ="nav-item"><form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input class="session-button" type="submit" value="Log Out">
    </form></li>
  <% else %>
    <li class ="nav-item"><a href="/sessions/new">Log In</a></li>
    <li class ="nav-item"><a href="/users/new">Register</a></li>
  <% end %>
</ul>
