<div class="article-wrapper">
  <h2 class="articles-header">Article Title</h2>
  <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul class="post-info">
      <li class="post-author">by: Tom Tomerson</li>
      <li class="post-date">posted: Date Posted</li>
    </ul>
    <div class="comments-container">
      <h3>Comments:</h3>
      <ul class="comments-list">
        <li class="comment">
          <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <ul class="post-info">
            <li class="post-author">by: Com Comerson</li>
            <li class="post-date">posted: Today</li>
          </ul>
        </li>
        <li class="comment">
          <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <ul class="post-info">
            <li class="post-author">by: Com Comerson</li>
            <li class="post-date">posted: Today</li>
          </ul>
        </li>
        <li class="comment">
          <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <ul class="post-info">
            <li class="post-author">by: Com Comerson</li>
            <li class="post-date">posted: Today</li>
          </ul>
        </li>
      </ul>
    </div>
</div>
