<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link href="https://fonts.googleapis.com/css?family=Fresca|Yrsa" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Purple Reign</title>
</head>
<body>
  <header id="fixed-nav">
      <%= erb :_nav %>
  </header>
  <header id="title-panorama">
      <div class="center-content">
        <h1>Purple Reign</h1>
        <h3>Your source for all things Viking!</h3>
      </div>
    </header>
  <div id="content-container">
    <%= yield %>
  </div>
</body>
</html>
